<!doctype html>
<head>
    <meta charset='utf-8'>
    <title>everwhere</title>
    <meta name='author' content='Tom MacWright'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src='/socket.io/socket.io.js'></script>
    <script src='<%= base %>/js/ender.js'></script>
    <script src='<%= base %>/js/modestmaps.min.js'></script>
    <script src='<%= base %>/js/wax.mm.js'></script>
    <script src='<%= base %>/js/app.js'></script>
    <link rel='stylesheet' href='<%= base %>/css/reset.css'>
    <link rel='stylesheet' href='<%= base %>/css/site.css'>
</head>
<body>
  <div class='page'>
    <%- body %>
  </div>
</body>
</html>
